@using Client.Components.Atoms.Button
@using Client.Components.Atoms.Image
<div class="top-bg-wrapper">
    <section id="top" class="js-trigger">
        <div class="content-wrapper animation-top fadeUp delay-time01">
            <h1 class="catch-copy">That important files, <br>Are you still sending them as email attachments?</h1>
            <p class="service-description">
                <img src="assets/logo-text.svg" />is a file-sharing service designed to securely
                transfer files using email.By adopting <span>end-to-end encryption (E2EE)</span>, we prevent data
                leaks
                from cyber attacks and accidental forwarding. You can use it as an alternative to email attachments
                for
                exchanging confidential documents and personal information securely.
            </p>
            <a href="https://dev3.postspace.jp" class="round-btn-wrapper">
                <div class="round-btn">Try the service</div>
            </a>
        </div>
        <img src="assets/top-image.svg" class="top-image animation-top fadeUp delay-time02" />
    </section>
    <section id="second" class="scroll-fadein is-fadein">
        <h1 class="section-title">What Is
            <img src="assets/logo-text.svg" />?
        </h1>
        <div class="content-wrapper">
            <div class="circle-card">
                <div class="card-content">
                    <h2 class="card-num">/01</h2>
                    <h3 class="card-title">Prevent data leaks with complete anonymization!</h3>
                    <p class="card-description">Protect valuable data not only from cyber attacks, system administrator
                        errors, and internal malpractices at data centers through encryption with complete
                        confidentiality.</p>
                </div>
            </div>
            <div class="circle-card">
                <div class="card-content">
                    <h2 class="card-num">/02</h2>
                    <h3 class="card-title">No account registration required for recipients!</h3>
                    <p class="card-description">Recipients automatically register encryption keys on their devices,
                        enabling secure file transfer without the need for account registration.</p>
                </div>
            </div>
            <div class="circle-card">
                <div class="card-content">
                    <h2 class="card-num">/03</h2>
                    <h3 class="card-title">Prevent information leakage due to misdirected email!</h3>
                    <p class="card-description">The system verifies the recipient's encryption key to transfer files,
                        ensuring that even if an email is misdelivered, the files won't be leaked.</p>
                </div>
            </div>
        </div>
        <a href="https://dev3.postspace.jp" class="text-btn"><span>Try the service</span></a>
    </section>
</div>

@code {
}