@inherits LayoutComponentBase

@using Client.Components.Molecules.Header

<div class="main-layout">

    <main class="content">
        @Body
    </main>

    @* <footer class="main-footer">
        &copy; @DateTime.Now.Year - @SiteTitle
    </footer> *@
</div>

@code {
    [Parameter] public string SiteTitle { get; set; } = "File Manager";
   
}
