
@* component will take props on click and button text *@


<button class="btn btn-primary" @onclick="IncrementCount">@ButtonText</button>



@code {
    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public EventCallback IncrementCount { get; set; }
}

