@using Client.Components.Atoms.Button
@using Client.Components.Atoms.Image

<section id="third" class="scroll-fadein is-fadein">
    <h1 class="section-title">What is end-to-end encryption?</h1>
    <div class="service-content-wrapper">
        <div class="heading">
            <Image src="assets/title-icon.svg" /> Traditional encryption technology
        </div>
        <div class="content-wrapper">
            <Image src="assets/service-old.svg" />
            <div class="description-wrapper">
                <div class="description-content">
                    <h2>Store encryption keys <br>in the cloud</h2>
                    <p>If hackers breach the system or there are <br>errors by system administrators, the encryption
                        <br>keys stored in the cloud may be exposed, <br>leading to <span>the risk of complete data
                            loss.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-wrapper">
        <div class="border left"></div>
        <p>
            <Image src="assets/key.svg" /> should not be stored in the cloud!
        </p>
        <div class="border right"></div>
    </div>
    <div class="service-content-wrapper postspace">
        <div class="heading">
            <Image src="assets/logo.svg" /> End-to-end encryption
        </div>
        <div class="content-wrapper">
            <div class="description-wrapper">
                <div class="description-content">
                    <h2>Store encryption keys <br>on the device</h2>
                    <p>Encryption keys are individually stored on <br>each device.Even if the cloud gets hacked,
                        <br>your encryption keys are not stored <br>in the cloud, so <span>there is no risk of
                            <br>information leakage.</span></p>
                </div>
            </div>
            <Image src="assets/service-postspace.svg" />
        </div>
    </div>
</section>


@code {

}