

@using Client.Components.Atoms.Button
@using Client.Components.Atoms.Input

@using Microsoft.AspNetCore.Components.Forms


<EditForm Model="@SearchModel" OnValidSubmit="HandleSearch">
    <Input @bind="SearchModel.Query" 
           Placeholder="Search products..."
           CssClass="search-input" />
    <Button type="submit" CssClass="btn-search" >Search</Button>
</EditForm>

@code {
    private SearchModelS SearchModel { get; set; } = new();

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private async Task HandleSearch()
    {
        await OnSearch.InvokeAsync(SearchModel.Query);
    }

    public class SearchModelS
    {
        public string Query { get; set; } = string.Empty;
    }
}
